:root { 
--black_900:#000000; 
--blue_A400:#2478f5; 
--gray_200_7e:#e8e8e87e; 
--light_green_700:#5cad2f; 
--light_green_A200:#b8ff65; 
--gray_200:#e8e8e8; 
--white_A700:#ffffff; 
--gray_50:#f9f9f9; 
--gray_100:#f3f3f3; 
}