@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif !important;
}
.ant-modal-footer{
    display: none;
}
.ant-cascader-menus ul{display: block}
.content-admin{
    height: 100% !important;
}
.form-content{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.form-check{
    position: relative;
    left: -30%;
}

.form-content button{
    width: 100%;
   margin-left: -30%;
}

.adminPage{
    width: 100%;
    background: #e0e0e0;
}

.header{
    width: 77.1%;
    height: 100px;
    position: fixed;
    right: 0;
    z-index: 10;
    background: #e0e0e0;
    box-shadow:  20px 0 0 #bebebe,
    -20px -20px 60px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header button{
    position: absolute;
    width: 100px;
    right: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 36px;
    background: linear-gradient(225deg, #f0f0f0, #cacaca);
    box-shadow:  -5px 5px 10px #898989,
    5px -5px 10px #ffffff;
}
.logo-sidebar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.sidebar{
    width: 23%;
    height: 100vh;
    position: fixed;
    background: #e0e0e0;
    box-shadow:  10px 10px 10px #bebebe,
    -20px -20px 60px #ffffff;
    z-index: 20;

}
.footer-sidebar{
    position: absolute;
    bottom: 0;
    display: flex;justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}
.sidebar ul{
    width: 100%;
    padding: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li{
    width: 100%;
    height: 40px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar ul li a {
    text-decoration: none;
    width: 90% !important;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 36px;
    background: linear-gradient(225deg, #f0f0f0, #cacaca);
    box-shadow:  -5px 5px 10px #898989,
    5px -5px 10px #ffffff;
}
.sidebar ul li button span{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sidebar ul li button.active{
    border-radius: 36px;
    background: #e0e0e0;
    box-shadow: inset -5px 5px 10px #898989,
    inset 5px -5px 10px #ffffff;
}
.content-adminPage{
    width: 78%;
    height: 100%;
    background: #e0e0e0;


    position: relative;
    right: -21%;
    bottom: -125px;
    z-index: 1;
    padding: 10px;
}

Table{
    width: 70% !important;
    text-align: center;
}
.user-list{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.companyOrder select{
    margin-top: 50px;
}
.companyOrder{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.orderBtn{
    margin-bottom: 30px;
}